
/* city interests component */

.container {
  width: 100%;
  max-width: 750px;
  margin: 0 auto; 
}

.ci-thumb {
  width: 100%;
  height: 45vh;
  object-fit: cover;
}

.ci-region {
  font-weight: var(--fw-medium);
  color: rgb(70, 69, 69);
}

.ci-header {
  font-size: 3.5rem;
  font-weight: var(--fw-medium-bold);
}

.ci-tagline {
  font-size: var(--fs-xl);
  font-weight: var(--fw-normal);
  color: rgb(156, 155, 155);
}

.ci-header-container {
  width: 100%;
  max-width: 750px;
  text-align: left;
  padding: 3rem 0 3rem 0;
  margin: 1rem auto 1rem auto;
}

.ci-description {
  white-space: pre-line;
  font-size: var(--fs-base);
  width: 100%;
  max-width: 750px;
  padding: 0 1rem; 
  box-sizing: border-box;
  margin: 1rem auto; 
}

.commodities-container {
  width: 100%;
  max-width: 750px;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 0 auto;
}

/* attractions component from city-interest */

#attractions-title {
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  font-weight: var(--fw-medium);
  font-size: var(--fs-2xl);
}

#attractions-container {
  width: 100%;
  max-width: 750px;
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(3, auto);
  margin: 1rem auto 3rem auto;
}

.attractions {
  position: relative;
  margin: 1rem 0rem 0.5rem 0rem;
  transition: transform 0.2s ease;
}

.attractions::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 40%; /* only add shading to top 40% */
  background: linear-gradient(to bottom, rgba(0,0,0,0.4), transparent);
  /* make shadow edges rounded */
  border-top-left-radius: 8px;  
  border-top-right-radius: 8px;
}

.attractions-photo {
  width: 232px;
  height: 200px;
  border-radius: 8px;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}

.attractions-name {
  font-weight: var(--fw-medium);
  font-size: var(--fw-normal);
  overflow-wrap: break-word;
  margin: 12px;
  max-width: 180px;
  position: absolute;
  z-index: 4;
  top: 0;
  left: 0;
  color: white;
}

.attractions:hover {
  transform: scale(1.05);
}

@media (max-width: 684px) {
  .ci-header-container {
    padding: 1rem;
  }
}

@media (max-width: 684px) {
  #attractions-title {
    padding: 0rem 1rem 0rem 1rem;
  }
}

@media (max-width: 430px) {
  #attractions-container {
    grid-template-columns: 1fr; /* single column */
    width: 100%;
    padding: 0 1rem 1rem 1rem;
    margin: 0rem;
  }
  .attractions-photo {
    width: 100%;
    height: 200px;
  }
  .commodities-container {
    flex-direction: column;
    gap: 0rem;
  }
}