/* search bar component */

.search-bar-clear-container {
  color: white;
  font-size: var(--fs-xs);
}

.clear-search-bar {
  padding: 8px;
  border-radius: 32px;
}

.clear-search-bar:focus {
  outline: none;
}

.solid-search-bar {
  padding: 8px;
  border-radius: 32px;
}

.search-bar-solid-container{
  color: black;
  font-size: var(--fs-xs);
}

.search-icon-clear {
  color: white;
}

/* search card */

.home-c1 {
  width: 100%;
  max-width: 700px;
}

.search-card-container {
  display: flex;
  justify-content: center;
}

.search-card {
  width: 100%;
  max-width: 500px;
  margin: 1rem 1rem 1rem 1rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.search-image {
  width: 30vw;
  max-width: 200px;
  min-width: 100px;
  object-fit: cover;
  margin-right: 16px;
  border-radius: 16px;
}

.search-description { 
  font-size: var(--fs-xs);
}

.search-location {
  font-size: var(--fs-base);
  font-weight: var(--fw-medium);
  color: blue;
}

.search-name { 
  font-weight: var(--fw-bold);
  font-size: var(--fs-xl);
}

.long-search-bar {
  width: 85%;
  padding: 2px 8px 2px 8px;
  border-radius: 16px;
}

.long-search-bar-container {
  display: flex;
  justify-content: center;
}

/* search scroll container */

#scroll-container {
 display: flex;
 overflow-y: scroll;
 height: 80vh;
 margin: 50%;
 justify-content: center;
 margin: 0 auto;
}

/* search list component */

.search-results-title {
  font-weight: var(--fw-medium);
  font-size: var(--fs-2xl);
  margin: 24px 0px 24px 0px;
  text-align: center; 
}

/* search page component */

#no-results-msg {
  text-align: center;
  background-color: orange;
  width: 100px;
  padding: 4px;
  margin: 0 auto;
  border-radius: 8px;
  font-weight: var(--fw-medium);
}

#search-title {
  font-weight: var(--fw-medium);
  font-size: var(--fs-2xl);
  margin: 2rem 0 2rem 0;
  text-align: center;
}