.booking-title {
  font-weight: var(--fw-medium);
  font-size: var(--fs-2xl);
  font-weight: var(--fw-medium);
  font-size: var(--fs-2xl);
  margin: 2rem 0px 0.5rem 0px;
}

.booking-title strong {
  color: blue;
}

.booking-container {
  box-shadow: 0 4px 8px rgba(0,0,0,0.5);
  width: 100%;
  border-radius: 16px;
  padding: 16px;
}

.booking-form-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  width: 100%;
  min-width: 300px;
  max-width: 500px;
  font-size: large;
}

.booking-button-wrapper {
  display: flex;
  justify-content: center;
}

.booking-button {
  background-color: blue;
  color: white;
  padding: 12px;
  margin-top: 16px;
  border-radius: 36px;
}

label {
  font-weight: var(--fw-bold);
  font-size: var(--fs-xs);
  margin: 4px;
}

select, input {
  border: 1px solid lightgrey;
  border-radius: 8px;
  padding: 8px;
  font-size: var(--fs-xs);
}

.booking-buttons-container {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.booking-icon {
  display: flex;
  flex-direction: column;
}

.booking-icon svg {
  width: 48px;
  height: 48px;
  border: 2px solid lightgrey;
  border-radius: 8px;
  padding: 6px;
}

.selected svg {
  background-color: blue;
  fill: white;
  border-radius: 8px;
  border: 2px solid transparent;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.selected .booking-type {
  color: black;
  font-weight: var(--fw-medium);
}

.not-selected:hover {
  fill: blue;
  background-color: rgb(249, 249, 249);
}

.booking-type {
  font-size: var(--fs-sm);
  color: rgb(108, 107, 107);
}

