/* interests types component */

#it-page-title {
  font-weight: var(--fw-medium);
  font-size: var(--fs-2xl);
  margin: 64px 0px 64px 0px;
  text-align: center;
}

.it-title {
  font-weight: var(--fw-medium);
  font-size: var(--fs-2xl);
  margin: 2rem 0rem 1rem 0rem;
}

.it-element-container {
  width: 100%;
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(3, auto);
}

#it-container {
  width: 750px;
  margin: 0 auto;
  max-width: 1200px; /* prevent from getting too wide if user monitor is too wide */
}

.it-element {
  position: relative;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.5);
  width: 240px;
  margin-bottom: 1rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.it-element:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

/* creates a layer (sheet laid on top) before the actual content which is it-element */
.it-element::before {
  content: ''; /* to make fake content show */
  position: absolute; /* sit on top of it-element without affecting layout */
  width: 100%;
  height: 30%; /* only add shading to top 40% */
  background: linear-gradient(to bottom, rgba(0,0,0,0.7), transparent);
  /* make shadow edges rounded */
  border-top-left-radius: 8px;  
  border-top-right-radius: 8px;
}

.it-photo {
  width: 240px;
  height: 184px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  object-fit: cover;
}

.it-name {
  font-weight: var(--fw-medium);
  font-size: var(--fw-normal);
  overflow-wrap: break-word;
  z-index: 4;
  color: white;
  padding: 8px;
  position: absolute;
  top: 0;
  left: 0;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.it-description {
  margin: 32px 20px 0px 20px;
  padding-bottom: 20px;
  min-height: 75px;
  font-size: var(--fs-sm);
}

.type-icon {
  width: 42px;
  height: 42px;
  padding: 8px;
  border-radius: 96px;
  position: absolute;
  top: 164px;
  left: 15px;
}