/* navbar component */

#nav-clear {
  top: 0%;
  height: 64px;
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 0px 28px 0px 28px;
  color: rgb(226, 226, 226);
  z-index: 24;
}

.te-logo {
  font-weight: bold;
  font-size: var(--fs-lg);
}

#nav-solid {
  top: 0%;
  height: 64px;
  position: block;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 0px 28px 0px 28px;
  background-color: white;
  color: black;
  z-index: 24;
}

#nav-center {
  width: 60%;
  text-align: center;
}

div .nav-links {
  justify-content: center;
  align-items: center;
}

div .nav-links .nav-link {
  padding: 16px 16px 16px 16px;
  font-weight: var(--fw-bold);
  font-size: var(--fs-sm);
}

div .nav-links .nav-link:hover {
  color: #3F00FF;
}

.nav-left {
  width: 20%;
}

.nav-right {
  width: 20%;
}