@import "tailwindcss";

body, html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* variables are loaded into every other css file */
:root {
  --white-transparent: rgba(255, 255, 255, 0.5);
  --color-primary: #030412;
  --color-midnight: #06091f;
  /* font weights */
  --fw-normal: 400; /* body text */
  --fw-medium: 500; /* buttons or subheadings */
  --fw-medium-bold: 600;
  --fw-bold: 700; /* headings or emphasis */
  /* font sizes */
  --fs-xs: 0.75rem;   /* 12px - small text, captions */
  --fs-sm: 0.875rem;  /* 14px - secondary text */
  --fs-base: 1rem;    /* 16px - body text */
  --fs-lg: 1.125rem;  /* 18px - slightly larger text */
  --fs-xl: 1.5rem;    /* 24px - h3 */
  --fs-2xl: 2rem;     /* 32px - h2 */
  --fs-3xl: 2.5rem;   /* 40px - h1 */
}

/* destinations component */

#dest-thumb, #dest-title, h1 {
  letter-spacing: -2px;
}

#dest-thumb {
  height: 40vh;
  width: 100%;
  object-fit: cover;
}

#dest-title {
  font-weight: var(--fw-medium);
  font-size: var(--fs-2xl);
  margin: 48px 0px 28px 0px;
  text-align: center;
} 

#dest-grid {
  width: 50%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 240px);
  justify-content: center;
  align-items: center;
}

#dest-button-container {
  display: flex;
  justify-content: center;
}

#dest-show-button {
  padding: 12px;
  margin: 24px;
  border: 1px solid lightgray;
  border-radius: 36px;
  z-index: 99;
  font-weight: var(--fw-medium-bold);
}

/* city card component */

.dest-card {
  margin: 8px;
  max-width: 240px;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.5);
  display: flex;
  flex-direction: column;
  position: relative;
}

.city-img {
  height: 172px;
  object-fit: cover;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

.city-txt {
  margin: 20px 20px 0px 20px;
  min-height: 92px;
}

.city-txt h3 {
  font-weight: var(--fw-bold);
}

.city-txt p {
  font-size: var(--fs-xs);
}

/* city interests component */

.container {
  width: 750px;
  margin: 0 auto;
  max-width: 1200px; /* prevent from getting too wide if user monitor is too wide */
}

.ci-thumb {
  width: 100vw;
  height: 45vh;
  object-fit: cover;
}

.ci-header {
  font-size: 54px;
  font-weight: var(--fw-medium-bold);
}

.ci-header-container {
  width: 750px;
  margin: 0 auto;
  text-align: left;
  padding: 48px 0px 48px 0px;
  max-width: 1200px;
}

.ci-description {
  margin: 48px 0px 48px 0px;
  white-space: pre-line;
  font-size: var(--fs-base);
}

.commodities-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  /* border: 4px solid black; */
  margin: 48px 0px 48px 0px;
  align-items: center;
  justify-content: space-between;
}

/* attractions component from city-interest */

#attractions-title {
  font-weight: var(--fw-medium);
  font-size: var(--fs-2xl);
}

#attractions-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  column-gap: 48px;
}

.attractions {
  position: relative;
  margin: 12px 0px 12px 0px;
}

.attractions::before {
  content: '';
  position: absolute;
  width: 200px;
  height: 40%; /* only add shading to top 40% */
  background: linear-gradient(to bottom, rgba(0,0,0,0.6), transparent);
  /* make shadow edges rounded */
    border-top-left-radius: 8px;  
    border-top-right-radius: 8px;
  z-index: 4;
}

.attractions-name {
  font-weight: var(--fw-medium);
  font-size: var(--fw-normal);
  overflow-wrap: break-word;
  margin: 12px;
  max-width: 180px;
  position: absolute;
  z-index: 4;
  top: 0;
  left: 0;
  color: white;
}

.attractions-photo {
  width: 200px;
  height: 200px;
  border-radius: 8px;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}

/* attraction (the page not the grids) component */

.attraction-content-container {
  width: 65%;
  margin: 0 auto;
  max-width: 1200px; /* prevent from getting too wide if user monitor is too wide */
}

#attraction-map {
  margin: 0;
}

.attraction-title {
  font-weight: var(--fw-medium-bold);
  font-size: var(--fs-3xl);
  margin: 64px 0px 40px 0px;
  width: 70%;
  text-align: left;
}

.section-nav {
  display: flex;
  justify-content: left;
  margin: 48px auto;
  padding-bottom: 12px;
  border-bottom: 1px solid #ccc;
  width: 65%;
}

.section-nav ul {
  list-style-type: none;
  padding: 0;
  gap: 1.5rem;
}

.anchor-link {
  text-decoration: none;
  color: #838383;
  font-size: var(--fs-sm);
  font-weight: var(--fw-bold);
}

.attraction-map {
  width: "400px";
  height: "400px";
  border-radius: 4px;
}

.attraction-photo {
  width: 400px;
  height: 300px;
  object-fit: cover;
  margin: 16px 32px 16px 0px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}

.attraction-photo-gallery {
  display: flex;
  align-items: center;
  justify-content: left;
}

.map-and-hours-section {
  display: flex;
  flex-direction: row;
}

.opening-hours h2, .attraction-description h2 {
  font-weight: var(--fw-bold);
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.attraction-description p {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

.opening-hours ul {
  display: flex;
  flex-direction: row;
  align-items:first baseline;
  /* background-color: blue;*/
}

.opening-hours li {
  font-size: var(--fs-base);
  padding: 5px;
  border: 1px solid black;
  border-radius: 8px;
  margin: 8px 8px 8px 0px;
  font-size: var(--fs-xs);
}

/* commodity (hotels and restaurants) component */

.commodity-title {
  font-weight: var(--fw-medium);
  font-size: var(--fs-2xl);
}

.commodity-photo {
  height: 120px;
  width: 120px;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  object-fit: cover;
}

.commodity-name {
  font-weight: var(--fw-medium);
  text-align: left;
  margin: 12px;
}

.commodity-content { 
  display: flex;
  margin: 12px 0px 12px 0px;
  border: 1px solid lightgray;
  border-radius: 16px;
}

/*chat bot*/
/* compare all code below this comment with other css files and make new dedicated ig css file */
.chatbot {
  width: 460px;
  height: 500px;
  display: flex;
  flex-direction: column;
  border: solid 10px #73b7ff;
  border-radius: 10px;
  padding: 0px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: white;
  z-index: 100;
  box-sizing: border-box;
  overflow: hidden;
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0;
  transform: translateY(100%);
  pointer-events: none;
}

.chatbot.show {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}

.chat-interface-icon-bar{
  height: 50px;
  padding: 5px;
  gap: 15px;
  display: flex;
  justify-content: left;
  align-items: left;
  background-color: #73b7ff;
  color: #ffffff;
}

.chat-interface-icon-bar img {
  width: 40px;
}

.chat-interface-icon-bar button {
  background-color: #73b7ff;
  border-radius: 5px;
  font-weight: 600;
  padding: 4px 10px;
  border: none;
  cursor: pointer;
  margin: 2px;
  color: #ffffff;
}

.chat-interface-icon-bar button:hover{
  background-color: #469fff;
  color: #a7a7a7;
}

.chat-interface-top-bar{
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.chat-interface-top-bar span {
  font-size: 16px;
}

.chat-interface-top-bar button {
  background-color: #ececf1;
  color: #000;
  border-radius: 5px;
  font-weight: 600;
  padding: 4px 10px;
  border: none;
  cursor: pointer;
  margin: 2px;
}

.chat-interface-top-bar button:hover {
  background-color: #dcdce1;
}

.chatbot-output-section {
  margin-top: 10px;
  overflow-y: auto;
  height: 60%;
  scrollbar-width: none;
}

.chatbot-input-container {
  margin-top: 10px;
  width: 100%;
  display: flex;
  border: solid 0.5px #cacaca;
  box-sizing:border-box;
  box-shadow: rgba(0, 0, 82, 0.15) 0 2px 4px;
  overflow: hidden;
  position: absolute;
  left: 0;
  bottom: 0;
  
}

.chatbot-input-container input {
  background-color: white;
  border: none;
  padding: 13px 14px;
  box-sizing: border-box;
  font-size: 15px;
  outline: none;
  width: 90%;
  font-weight: 200;
}

.chatbot-input-container input::placeholder {
  color:#cacaca;
  font-weight: 200;
}

.chatbot-input-container button {
  width:100px;
  border: none;
  border-left: 1px solid #cacaca;
  background-color: white;
  color: #777;
  font-weight: bold;
  cursor: pointer;
}

.chatbot-input-container button:active {
  background-color: #cacaca;
}

.chatbot-answer {
  padding: 10px;
  border: solid 0.5px #cacaca;
  background-color: white;
  margin: 5px;
  font-size: 15px;
  font-weight: 200;
  border-radius: 6px;
}

.chatbot-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

.chatbot-list-item {
  list-style-position: inside;
}

.chatbot-button {
position: fixed;
  bottom: 24px;
  right: 24px;
  width: 60px;
  height: 60px;
  background-color: #73b7ff;
  color: white;
  padding: 10px;
  font-size: 28px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: background 0.3s;
}
.chatbot-button:hover {
  background-color: #469fff;
}

/*Itinerary generator*/
.itinerary-generator {
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 1vw;
}

.ig-title {
  font-weight: var(--fw-medium);
  font-size: var(--fs-2xl);
  margin: 64px 0px 64px 0px;
  text-align: center;
}

.ig-form {
  height: 100%;
  width: 300px;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 15px;
}

.ig-form-field {
  width: 100%;
}

.ig-form label {
  font-size: var(--fs-sm);
}

.ig-form-box {
  width: 100%;
  border: solid 2px #BCBCBC;
  background-color: white;
  border-radius: 8px;
}

.ig-select {
  width: 100%;
  padding: 12px;
}

.ig-select:focus {
  outline: 1px solid #469fff;
  outline-offset: 2px;
  border-radius: 8px;
  transition: outline 50ms ease;
}

.ig-select:focus:hover {
  outline: 2px solid #469fff;
}

.ig-form-bottom-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.ig-form-bottom-buttons button {
  color: white;
  padding: 8px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: scale 100ms ease-in-out;
}

.ig-form-bottom-buttons button:hover {
  scale: 1.1;
}

.ig-form-bottom-buttons button:active {
  opacity: 0.8;
}

.ig-generate-button {
  background-color: #125DE9;
}

.ig-clear-button {
  background-color: rgb(255, 69, 69)
}

.ig-response {
  display: flex;
  flex-direction: column;
  width: 600px;
  min-width: 500px;
  height: 100%;  
}

.ig-response h3 {
  font-size: 35px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 10px;
  letter-spacing: -1px;
}
.ig-response table {
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  border-collapse: separate;
  margin: 5px;
}
.ig-response th, .ig-response td {
  padding-top: 15px;
  padding-bottom: 15px;
}

.ig-response ul,
.ig-response ol {
  display: flex;
  flex-direction: row;
  align-items:first baseline;
}

.ig-response li {
  font-size: var(--fs-base);
  padding: 5px;
  border: 1px solid black;
  border-radius: 8px;
  margin: 8px 8px 8px 0px;
  font-size: var(--fs-xs);
}

.ig-response section {
  border: solid 1px #BCBCBC;
  border-radius: 30px 0px 0px 30px;
  overflow-y: auto;
  padding: 16px;
  flex-grow: 1;
  background-color: #F9F9F9;
}

.ig-adult-children-count-row {
  display: flex;
  flex-direction: row;
  column-gap: 40px;
  width: 100%;
}

.ig-error-message {
  font-size: var(--fs-lg);
  color: #F44336;
}

.ig-loading-text-skeleton {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.ig-loading-text-skeleton div{
  height: 20px;
  border-radius: 10px;
  background: linear-gradient(
    to right, 
    #dddddd 25%,
    #eeeeee 50%,
    #dddddd 75%
  );
  background-size: 200% 100%;
  animation: shimmer 1.5s ease-in-out infinite; 
}

@keyframes shimmer {
  0% { 
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
