@import "tailwindcss";

body, html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --white-transparent: rgba(255, 255, 255, 0.5);
  --color-primary: #030412;
  --color-midnight: #06091f;
  --color-navy: #161a31;
  --color-indigo: #1f1e39;
  --color-storm: #282b4b;
}

/* navbar component */
#nav-clear {
  position: absolute;
  display: flex;
  width: 100%;
  padding: 0px 28px 0px 28px;
  color: rgb(226, 226, 226);
  z-index: 24;
}

#nav-solid {
  position: block;
  display: flex;
  width: 100%;
  padding: 0px 28px 0px 28px;
  background-color: white;
  color: black;
  z-index: 24;
}

#nav-center {
  width: 40%;
}

div ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

div ul li {
  padding: 16px 16px 16px 16px;
  font-weight: 500;
}

div ul li:hover {
  color: red;
}

#nav-left {
  width: 30%;
  display: flex;
  justify-content: left;
  align-items: center;
  font-weight: 500;
}

#nav-right {
  width: 30%;
  display: flex;
  justify-content: right;
  align-items: center;
  font-weight: 500;
}

/* home component */

#bg-image {
  width: 100%;
  height: 60vh;
  background-image: url("/assets/taipei-night.jpeg");
  background-repeat: no-repeat;
  background-position: center center; 
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  display: flex;
  align-items: center;
}

#bg-image-half-size {
  width: 100%;
  height: 30vh;
  background-image: url("/assets/taipei-night-2.jpg");
  background-repeat: no-repeat;
  background-position: center center; 
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  display: flex;
  align-items: center;
}

/* regions component */
#regions-container {
  background-color: white;
}

#regions-title {
  font-weight: 650;
  font-size: 30px;
  margin-top: 16px;
} 

/* destinations component */
#destination-thumb {
  height: 40vh;
  width: 100%;
  object-fit: cover;
}

/* city component */ 
#destinations-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  align-items: stretch;
}

.destination-card {
  border: 0px solid transparent;
  margin: 12px;
  max-width: 264px;
  border-radius: 16px;
  box-shadow: 4px 8px 8px hsl(0deg 0% 0% / 0.38);
  display: flex;
  flex-direction: column;
  max-height: 300px;
}

.destination-card h3 {
  font-weight: 700;
}

.city-image {
  height: 164px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  overflow: hidden;
}

.city-text {
  margin: 24px;
  min-height: 100px;
}

.city-text p {
  font-size: smaller;
}

#destinations-title {
  font-weight: 650;
  font-size: 30px;
  margin: 36px 0px 12px 0px;
  text-align: center;
} 