@import "tailwindcss";

body, html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* variables are loaded into every other css file */
:root {
  --white-transparent: rgba(255, 255, 255, 0.5);
  --color-primary: #030412;
  --color-midnight: #06091f;
  /* font weights */
  --fw-normal: 400; /* body text */
  --fw-medium: 500; /* buttons or subheadings */
  --fw-medium-bold: 600;
  --fw-bold: 700; /* headings or emphasis */
  /* font sizes */
  --fs-xs: 0.75rem;   /* 12px - small text, captions */
  --fs-sm: 0.875rem;  /* 14px - secondary text */
  --fs-base: 1rem;    /* 16px - body text */
  --fs-lg: 1.125rem;  /* 18px - slightly larger text */
  --fs-xl: 1.5rem;    /* 24px - h3 */
  --fs-2xl: 2rem;     /* 32px - h2 */
  --fs-3xl: 2.5rem;   /* 40px - h1 */
}

/* destinations component */

#dest-thumb, #dest-title, h1 {
  letter-spacing: -2px;
}

#dest-thumb {
  height: 40vh;
  width: 100%;
  object-fit: cover;
}

#dest-title {
  font-weight: var(--fw-medium);
  font-size: var(--fs-2xl);
  margin: 48px 0px 28px 0px;
  text-align: center;
} 

#dest-grid {
  width: 50%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 240px);
  justify-content: center;
  align-items: center;
}

#dest-button-container {
  display: flex;
  justify-content: center;
}

#dest-show-button {
  padding: 12px;
  margin: 24px;
  border: 1px solid lightgray;
  border-radius: 36px;
  z-index: 99;
  font-weight: var(--fw-medium-bold);
}

#dest-show-button:hover {
  background-color: rgb(239, 239, 239);
  cursor: pointer;
}

/* city card component */

.dest-card {
  margin: 8px;
  max-width: 240px;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.5);
  display: flex;
  flex-direction: column;
  position: relative;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.dest-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0,0,0,0.6);
  z-index: 5;
}

.city-img {
  height: 172px;
  object-fit: cover;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

.city-txt {
  margin: 20px 20px 0px 20px;
  min-height: 92px;
}

.city-txt h3 {
  font-weight: var(--fw-bold);
}

.city-txt p {
  font-size: var(--fs-xs);
}

/* city interests component */

.container {
  width: 750px;
  margin: 0 auto;
  max-width: 1200px; /* prevent from getting too wide if user monitor is too wide */
}

.ci-thumb {
  width: 100vw;
  height: 45vh;
  object-fit: cover;
}

.ci-region {
  font-weight: var(--fw-medium);
  color: rgb(70, 69, 69);
}

.ci-header {
  font-size: 54px;
  font-weight: var(--fw-medium-bold);
}

.ci-tagline {
  font-size: var(--fs-xl);
  font-weight: var(--fw-normal);
  color: rgb(156, 155, 155);
}

.ci-header-container {
  width: 750px;
  margin: 0 auto;
  text-align: left;
  padding: 48px 0px 48px 0px;
  max-width: 1200px;
}

.ci-description {
  margin: 48px 0px 48px 0px;
  white-space: pre-line;
  font-size: var(--fs-base);
}

.commodities-container {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 2rem;
  width: 100%;
}

/* attractions component from city-interest */

#attractions-title {
  font-weight: var(--fw-medium);
  font-size: var(--fs-2xl);
}

#attractions-container {
  width: 100%;
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(3, auto);
  margin-bottom: 3rem;
}

.attractions {
  position: relative;
  margin: 1rem 0rem 0.5rem 0rem;
  transition: transform 0.2s ease;
}

.attractions::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 40%; /* only add shading to top 40% */
  background: linear-gradient(to bottom, rgba(0,0,0,0.4), transparent);
  /* make shadow edges rounded */
  border-top-left-radius: 8px;  
  border-top-right-radius: 8px;
}

.attractions-name {
  font-weight: var(--fw-medium);
  font-size: var(--fw-normal);
  overflow-wrap: break-word;
  margin: 12px;
  max-width: 180px;
  position: absolute;
  z-index: 4;
  top: 0;
  left: 0;
  color: white;
}

.attractions-photo {
  width: 232px;
  height: 200px;
  border-radius: 8px;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}

.attractions:hover {
  transform: scale(1.05);
}

/* attraction (the page not the grids) component */

.attraction-content-container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin: 1rem 0 1rem 0;
  justify-content: center;
}

/* .attraction-c1 {
  background-color: lightcoral;
} */

.attraction-c2 {
  margin-top: 18rem;
  /* background-color: lightblue; */
}

.attraction-content-container {
  width: 65%;
  margin: 0 auto;
  max-width: 1200px; /* prevent from getting too wide if user monitor is too wide */
}

#attraction-map {
  margin: 0;
}

.attraction-title {
  font-weight: var(--fw-medium-bold);
  font-size: var(--fs-3xl);
  margin: 2rem 0px 0px 0px;
}

.section-nav {
  display: flex;
  margin: 2rem 0rem 2rem 0rem;
  padding-bottom: 12px;
  border-bottom: 1px solid #ccc;
  width: 100%;
}

.section-nav .anchor-link {
  padding: 0rem 1rem 0rem 0rem;
}

.anchor-link {
  text-decoration: none;
  color: #727272;
  font-size: var(--fs-sm);
  font-weight: var(--fw-bold);
}

.attraction-map {
  width: "400px";
  height: "400px";
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.attraction-photo {
  flex-shrink: 0;  
  width: 300px;   
  height: 300px;
  object-fit: cover; 
  margin: 16px 0 16px 0; 
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}


.attraction-sub-titles {
  font-size: var(--fs-xl);
  font-weight: var(--fw-medium);
  margin: 1rem 0rem 1rem 0rem;
  letter-spacing: 0px;
}

.attraction-photo-gallery {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 100%; 
  overflow-x: auto; 
  gap: 16px; 
}

.attraction-description {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
}

.attraction-description-container {
  background-color: rgb(255, 255, 255);
  border-radius: 16px;
  padding: 1.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  margin: 0px;
  position: relative;
  height: 490px;
}

.attraction-description-button {
  background-color: #73b7ff;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 10px;
  font-weight: var(--fw-medium);
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0px;
}

.attraction-description-button:hover {
  background-color: #469fff;
}

.attraction-description-output {
  margin-top: 10px;
  overflow-y: auto;
  height: 100%;
  scrollbar-width: thin;
}

.attraction-description p {
  font-size: var(--fs-sm);
  margin-bottom: 1.5rem;
}

.opening-hours ul {
  display: flex;
  flex-direction: row;
  /* background-color: blue;*/
}

.opening-hours li {
  height: 80px;
  width: 120px;
  align-items: center;
  display: flex;
  font-size: var(--fs-base);
  padding: 5px;
  border: 1px solid lightgray;
  border-radius: 16px;
  margin: 8px 8px 8px 0px;
  font-size: var(--fs-xs);
}

/* commodity (hotels and restaurants) component */

.commodity-title {
  font-weight: var(--fw-medium);
  font-size: var(--fs-2xl);
}

.commodity-photo {
  height: 120px;
  width: 120px;
  min-width: 120px;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  object-fit: cover;
}

.commodity-name {
  font-weight: var(--fw-medium);
  text-align: left;
  margin: 12px;
  margin-bottom: 4px;
}

.commodity-content {
  display: flex;
  width: 100%;
  margin: 12px 0;
  border: 1px solid transparent;
  border-radius: 16px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12); /* subtle shadow for depth */
}

.commodity-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px 12px;
  position: relative;
  top: -16px;
}

.commodity-rating {
  font-size: 0.875rem;
  color: #555;
  margin-left: 12px;
  margin-top: 0px;
}